# Normalize line endings
* text=auto

# Kotlin / Gradle sources
*.kt         text eol=lf linguist-language=Kotlin
*.kts        text eol=lf linguist-language=Kotlin
*.gradle.kts text eol=lf linguist-language=Kotlin
AndroidManifest.xml text eol=lf linguist-language=XML

# Project text formats
*.md   text diff=markdown
*.xml  text eol=lf
res/**.xml text eol=lf
*.json text
*.pro  text

# Graphics
*.svg  text
*.png  binary
*.jpg  binary
*.webp binary

# Exclude tooling/metadata
.gitattributes   export-ignore
.gitignore       export-ignore
local.properties export-ignore linguist-vendored
*.iml            export-ignore linguist-vendored
/.idea/**        export-ignore linguist-vendored
/.gradle/**      export-ignore linguist-vendored
**/build/**      export-ignore linguist-vendored
gradle/**        linguist-vendored

# Binaries
gradle/wrapper/gradle-wrapper.jar binary
*.jar      binary
*.aar      binary
*.apk      binary
*.keystore binary
*.jks      binary